{
    "parser": "babel-eslint",
    "settings": {
      "pragma": "React",
      "version": "16.3"
    },
    "parserOptions": {
      "ecmaFeatures": {
        "impliedStrict": true,
        "jsx": true
      }
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "plugins": [ "react" ],
    "globals": {
      "import":false,
      "exports": false,
      "console": false,
      "window": false,
      "document": false,
      "process": false,
      "__dirname":false,
      "require":false
    },
    "rules": {
      "no-console": 0,
      "no-unused-vars": 2,
      "no-mixed-spaces-and-tabs":0,
      "vars": "all",
      "vars-on-top": "error",
      "complexity": [ "error", 10 ],
      "max-statements": [ "error", 15 ],
      "max-depth": [ "error", 3 ],
      "max-nested-callbacks": ["error",2],
      "react/no-direct-mutation-state": 2,
      "react/no-did-update-set-state": 2,
      "react/no-children-prop": 2,
      "react/prop-types": 0,
      "react/no-render-return-value": 2,
      "react/prefer-es6-class": 2,
      "react/react-in-jsx-scope": 2,
      "react/jsx-no-duplicate-props": 2,
      "react/jsx-no-undef": 2,
      "react/no-deprecated": 0,
      "react/no-multi-comp": 2,
      "react/no-unused-state": 2,
      "react/no-unknown-property": 2,
      "react/jsx-max-props-per-line": [
        2,
        {
          "maximum": 4
        }
      ]
    },
    "overrides":[
      {
        "files":["server.js","main.jsx"]
      }
    ]
  
  }