<!DOCTYPE html>
	<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
		<title>Bosseta CMS</title>
		<meta charset="UTF-8">
		<meta name="description" content="This is an example.">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel="stylesheet" href="css/flexbox.css?{{ version }}" />
		<link rel="stylesheet" href="css/site.css?{{ version }}" />
		<link rel="stylesheet" href="css/build.css?{{ version }}" />
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="build/app.js?{{ version }}"></script>
	</body>
</html>