a {
    color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
html{
    height:100%;
  min-height:100%;
}
body{
  font-family: Helvetica , 'sans-serif';
  height:100%;
  min-height:100%;
    letter-spacing:.1em;
}

.navbarTitle{
   text-align:center;
   font-size: 30px;
    color: #ffffff;
}
.main_wrap{
   display:flex;
  flex-direction:row;
}
.navSectionTitle{
  margin-top:40px;
  color:#ffffff;
}
.navigation_bar{ 
    position: fixed;
    width: 250px;
    height:100%;
    min-height:100vh;
    padding: 30px;
    background-color:#9575CD;
   
}

.navList{
  padding-left:40px;
  margin-top:20px;
}

.navItem i {
  margin-right:7px;
}
.navItem{
    margin-top:30px;
    color:#ffffff;
    opacity:.5;
    font-size:18px;
    cursor:pointer;
}

.navItem:hover{
    font-weight:bolder;
    opacity:1;
}
.navItem.selected{
    font-weight:bolder;
  opacity:1;
}
.body_wrap{
  position:relative;
  margin-left:310px;
  width:100%;
  height:100%;
  min-height:100vh;
  overflow-x: hidden;
   overflow-y: auto;

}
.header{
  position:relative;
  padding:15px;
  width:100%;
  min-height:40px;
  top:0;
  left:0;
  background-color:#383B3E;
  
}
.header h1{
  font-weight:bold;
  color:#fff;
  margin-left:40px;
}

.page_content{
  position:relative;
  width:100%;
  height:100%;
  min-height:100vh;
}



h4{
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}